@charset "utf-8";

body {
font-size:12px;
font-family:Helvetica;
}
div.header {
font-size:27px;
text-align:center;
}
div.fleft {
float: left; width:9px; height:100%;position: absolute; left:-15px; top:0px;margin-left:0;padding-left:0px;margin-top:27px;text-align:center;
}
div.tab1 {
width:54px; float: left; -webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-ie-transform: rotate(270deg);-o-transform: rotate(270deg); display:inline-block; border-style: solid; border-width: 1px 1px 0px 1px; border-radius:10px 0px 0px 0px; padding: 3px; box-shadow: -3px -3px 1px #888888; position: absolute; top:-3px; left:-1px;
}
div.tab2 {
width: 54px; float: left; -webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-ie-transform: rotate(270deg);-o-transform: rotate(270deg); display:inline-block; border-style: solid; border-width: 1px 1px 1px 1px; border-radius:10px 0px 0px 0px; padding: 3px; box-shadow: -3px -3px 1px #000000; position: absolute; top:61px; left:-3px;
}
div.tab3 {
width:54px; float: left; -webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-ie-transform: rotate(270deg);-o-transform: rotate(270deg); display:inline-block; border-style: solid; border-width: 1px 1px 1px 1px; border-radius:10px 0px 0px 0px; padding: 3px; box-shadow: -3px -3px 1px #000; position: absolute; top:126px; left:-3px;
}
div.qleft {
width:25%; height:1000px; position:absolute;left:23px;top:65px;margin-right:0;border-style:solid;border-width:0px 0px 0px 1px;padding: 0px ; margin:0px;z-index:1;
}
div.left {
width:33%; height:1000px; position:absolute;left:23px;top:65px;margin-right:0;border-style:solid;border-width:0px 0px 0px 1px;padding: 0px ; margin:0px;z-index:1;
}
div.ileft {
width:50%; height:1000px;float: left;z-index:1;
}
div.hmiddle {
width:50%; height:1000px;margin-right:auto;margin-left:auto;padding: 0px;margin-top:24px;z-index:1;
}
div.middle {
width:33%; height:1000px;margin-right:auto;margin-left:auto;padding: 0px;margin-top:24px;z-index:1;
}
div.iright {
width:50%; height:1000px; float:right;z-index:1;
}
div.right {
width:33%; float:right; height:900px; position:absolute;right:12px;top:65px;z-index:1;
}
div.qright {
width:25%; float:right; height:900px; position:absolute;right:12px;top:65px;z-index:100;
}
width:45%div.v {
position:fixed;right:0px;bottom:0px;z-index:100;
}
.goodstat {
color: green
}
.misstat {
color:blue
}
.badstat {
color:red
}
#loadImg{position:absolute;margin:auto;border:3px}
#loadImg div{display:table-cell;width:50%;height:900px;background:#fff;text-align:center;vertical-align:middle;z-index:-1;border:3px}
#loadImg2{position:absolute;z-index:-1;}
#loadImg2 div{display:table-cell;width:100%;height:900px;background:#fff;text-align:center;vertical-align:middle;z-index:-1;}
#loadImg3{position:absolute;z-index:-1;}
#loadImg3 div{display:table-cell;width:100%;height:900px;background:#fff;text-align:center;vertical-align:middle;z-index:-1;}
#loadImg1{position:absolute;z-index:-1;}
#loadImg1 div{display:table-cell;width:100%;height:900px;background:#fff;text-align:center;vertical-align:middle;z-index:-1;}
a {
text-decoration: none; color:black;
}
